<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="nav">
    <% if logged_in? %>
      <a href="/daily_activities/new"><h4>What Happened Today?</h4></a>
      <a href="/logout"><h4>Log Out</h4></a>
      <a href="/daily_activities"><h4>All Activities</h4></a>
    <% end %>
    </div>

    <div class="wrapper">


        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>CareTracker</strong></small>
      </footer>
    </div>

</body>
</html>
  