<h1>Please enter your daily activity</h1>
      <form action='/daily_activities' method="post">
            <label for="location">Location</label>
            <input type="text" name="location" value=""><br><br>
            <label for="description">Description</label>
            <input type="text" name="description" value=""><br><br>
            <label for="books">Books</label>
            <input type="text" name="books" value=""><br><br>
            <label for="medication">Medication</label>
            <input type="text" name="medication" value=""><br><br>
            <input type="submit" value="submit">
      </form>